<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sharyuke.app">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Utils"
        tools:targetApi="31">
        <activity
            android:name=".ui.ViewListPagingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ToolsRegexActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ToolsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ViewListLayoutManagerStaggeredActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ViewListLayoutManagerGridActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ViewListLayoutManagerFlexActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ViewListLayoutManagerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ViewImageShapeableActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ViewListBaseActivity"
            android:exported="false" />
        <activity
            android:name=".ui.OtherActivity"
            android:exported="false" />
        <activity
            android:name=".ui.DeviceActivity"
            android:exported="false" />
        <activity
            android:name=".ui.NetworkActivity"
            android:exported="false" />
        <activity
            android:name=".ui.FileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ViewImageActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ViewImageFilterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ViewListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ViewActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>